<div class="container">
  <h1>Задание 5</h1>
  <p>
    <b>Задание:</b> Необходимо разработать SPA на последней версии Angular. Используйте онлайн IDE <a
          href="https://stackblitz.com/">https://stackblitz.com/</a>. Для
    работы с данными использовать RxJS. Для стилей не использовать CSS фреймворки.
  </p>
  <p>
    Основная функциональность - отображение фото по 9 на страницу, с возможностью догрузить следующую страницу по кнопке
    "Загрузить еще" (когда больше фото нет, не отображать кнопку).
  </p>
  <p>
    API endpoint: <a href="https://jsonplaceholder.typicode.com/photos">https://jsonplaceholder.typicode.com/photos</a>
    (поддерживается параметры <i>_start</i> и <i>_limit</i>, возвращаемый
    формат JSON)
  </p>
  <p>
    Дополнительное задание: По нажатию на миниатюру (thumbnail) фото нужно открывать увеличенную версию фото на весь
    экран в попапе.
  </p>
  <app-images></app-images>
</div>